body{ 
    background-color: rgb(141, 183, 162);
    border: rgb(58, 58, 139);
    border-width: thick;
    text-align: center;
}
h1{
    text-decoration: underline;
    text-align: center;
    color: black;
    font-family: 'Lucida Sans';
}
h2{
    text-align: center;
    color: black;
    font-family: 'Lucida Sans';
}
p{
    text-align: center;
    color: black;
    font-family: 'Lucida Sans';
}
header{
    text-align: center;
    color: rgb(45, 27, 145);
    font-family: 'Lucida Sans';
}
footer{    text-align: center;
    color: black;
    font-family: 'Lucida Sans';
}
nav{
    text-align: center;
}